.col-lg-12{"ng-repeat": "comment in comments"}
	.media
		.media-left
			%img.thumbnail.media-object.user-thumb{"ng-src": "{{comment.user_avatar_url}}", style:"margin-auto;display:block;"}
		.media-body
			%h5.text-muted{style:"display:inline"}
				@{{comment.user_nick}}:
			%p{style:"display:inline"}
				{{comment.content}}
			%p
				%b {{comment.created_at | date:'dd-MM-yyyy'}}

.col-lg-12.row.well.text-center{"ng-if": "comments.length == 0"}
	%h2
		%em Be the first to comment!
