%div{"ng-if": "!logged()"}
  .row
    .col-lg-6.col-lg-offset-3
      %h1.logo.text-center
        %i.fa.fa-comments
        FAKEBOOK
  .row.carousel-holder
    .col-md-8.col-lg-offset-2
      #carousel.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel"}
        .carousel-inner{role:"listbox"}
          .item.active
            = image_tag asset_path("people1.jpg"), class:"img-responsive center-block "

          .item
            = image_tag asset_path("people2.jpg"), class:"img-responsive center-block "
            .container
              .carousel-caption
                %p{style:'color:transparent;'} Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            = image_tag asset_path("people3.jpg"), class:"img-responsive center-block "

        %a.left.carousel-control{"data-slide" => "prev", "data-target" => "#carousel", role:"button", "aria-hidden": true}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden": true}
        %a.right.carousel-control{"data-slide" => "next", "data-target" => "#carousel", role:"button", "aria-hidden": true}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden": true}

  .row
    %p
    .col-lg-8.col-lg-offset-2.jumbotron.jumbostyle
      .container
        %h2
          %i.fa.fa-compass
          Our fancy social network.
        %p
          This is the web application developed and designed for the Web Systems Development Subject (16980) by
          %em Raúl Campos Rubio
          and
          %em Álvaro Fernández Villa.

  .row.text-center
    .col-lg-4.col-lg-offset-2
      = image_tag asset_path("raul.jpg"), class:"img-responsive img-circle center-block", :height => "200", :width => "200"
      %h4
        %b.label.label-primary Raúl Campos Rubio

    .col-lg-4
      = image_tag asset_path("alvaro.jpg"), class:"img-responsive img-circle center-block", :height => "200", :width => "200"
      %h4
        %b.label.label-primary Álvaro Fdez Villa

%div{"ng-if": "logged() && admin()"}
  -# LOGGED ADMIN
  .col-lg-4
    = image_tag "spiderman.png", :class => "img-responsive", :class=> "center-block", :height => "450", :width => "300"
    %blockquote.text-center
      A great power involves great responsibility.
      %footer Uncle Ben
  .col-lg-8
    .jumbotron
      %h2
        %b
          %em
            %i.fa.fa-lock
            &nbsp;
            You are on steroids
      %p Throughout this section you will be able to ban users, generate admins and look for inapropiate content in the users' entries. So be careful!
      %a.btn.btn-primary.btn-lg{href:"/admin/users"}
        %i.fa.fa-dashboard
        Management




%div{"ng-if": "logged() && !admin()"}
  -# LOGGED USER
  .row.col-lg-10.col-lg-offset-1
    %h3
      %b
        %i.fa.fa-paper-plane-o.text-success
        While you were away...
        %hr
  %div#entries{"ng-include": "'#{ asset_path("entries/index.html.haml") }'"}
