.modal.fade#modal-publish{"ng-controller": "entryCreateCtrl"}
  .modal-dialog
    .modal-content
      %form.form-horizontal{"ng-submit": "post()", "style": "border:solid;margin:1em"}
        .modal-header
          %button.close{"data-dismiss": "modal", "aria-hidden": true} &times;
          %h3.text-center
            %b
              %i.fa.fa-plus-circle.text-success
              Create a new entry
        .modal-body
          %fieldset
            .form-group
              %label.col-lg-3.control-label{for:"title"} Title:
              .col-lg-9
                %input.form-control#title{type:"text", autofocus:true, placeholder:"Title", required:true, "ng-model": "title"}
            .form-group
              %label.col-lg-3.control-label{for:"message"} Message:
              .col-lg-9
                %textarea.form-control.textarea-vertical#message{type:"text", placeholder:"Message", required:true, "ng-model": "message"}
            .form-group
              %label.col-lg-3.control-label{for:"image"} Image(optional):
              .col-lg-9
                %input.btn.btn-link{type:"file", :name => "file", "ng-model" => "file", "ngf-accept" => "'image/*'", "ngf-max-size" => "20MB", "ngf-min-height" => "100", "ngf-pattern" => "'image/*'", "ngf-select" => ""}
        .modal-footer
          .actions.col-lg-10.col-lg-offset-2
            %button.btn.btn-primary{type:"submit"} Post it
