.row
  .col-lg-10.col-lg-offset-1
    %h2
      %b
        %i.fa.fa-pencil-square-o.text-success
        Entries management
    %hr
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %th #
          %th Title
          %th Message
          %th Created at
          %th Likers
        %tbody
          %tr{"ng-repeat": "entry in entries"}
            %td {{entry.id}}
            %td {{entry.title}}
            %td {{entry.message}}
            %td {{entry.created_at  | date:'dd-MM-yyyy'}}
            %td {{entry.likers_count}}
            %td.text-center
              %button.btn.btn-danger{"ng-click": "delete(entry)"} Remove
