.row
  .col-lg-10.col-lg-offset-1
    %h2
      %b
        %i.fa.fa-user.text-success
        Users management
    %hr
    .table-responsive
      %table.table.table-striped.table-hover.table-reflow
        %thead
          %th #
          %th Nick
          %th Name
          %th Birthday
          %th Description
          %th Followers
          %th Following
          %th Entries
        %tbody
          %tr{"ng-repeat": "user in users"}
            %td {{user.id}}
            %td @{{user.nick}}
            %td {{user.name}}
            %td {{user.birthday  | date:'dd-MM-yyyy'}}
            %td {{user.description}}
            %td.text-center {{user.followers_count}}
            %td.text-center {{user.followees_count}}
            %td.text-center {{user.entries_count}}
            %td.text-center
            %td.text-center
              %button.btn.btn-danger{"ng-click": "ban(user)", "ng-disabled": "current_user.id == user.id", "ng-show": "!user.ban"} &nbsp; Ban &nbsp;
              %button.btn.btn-success{"ng-click": "ban(user)", "ng-disabled": "current_user.id == user.id", "ng-show": "user.ban"} Unban
            %td.text-center{"ng-if": "!user.admin"}
              %button.btn.btn-primary{"ng-click": "make_admin(user)"} Make admin
            %td.text-center{"ng-if": "!user.admin"}
              %a.btn.btn-default{"ng-href": "/admin/users/{{user.id}}/entries"}
                %i.fa.fa-list-ul
                Entries
