angular.module "fakebook-app", ["ngResource", "ngRoute", 'Devise', "LocalStorageModule", "ngSanitize", "ngFileUpload"]

.constant 'paths', {
  root: "/"
  not_found: "/404"
  forbidden: "/403"
  auth:
    sign_in: "/auth/sign_in"
    sign_out: "/auth/sign_out"
    sign_up: "/auth/sign_up"
  users:
    index: "/users"
    nick: "/users/nick/:nick"
    entries:
      index: "/users/:id_user/entries"
  admin:
    users: "/admin/users"
    entries: "/admin/users/:id/entries"

  api:
    users:
      index: "/api/users"
      by_term: "/api/users/term/:term"
      by_nick: "/api/users/name/:nick"
      toggle: "/api/users/:id/toggle_follow/:id_followable"
      toggle_ban: "/api/users/:id/toggle_ban"
      make_admin: "/api/users/:id/make_admin"
      entries:
        index: "/api/users/:id_user/entries"
        toggle_like: "/api/users/:id_user/entries/:id/toggle_like/:id_liker"
        comments:
          index: "/api/users/:id_user/entries/:id_entry/comments"
    auth:
      sign_in: "/api/auth/sign_in"
      sign_out: "/api/auth/sign_out"
      sign_up: "/api/auth/sign_up"

}

.constant 'headers', {
  "Accept": "application/json"
  "Content-Type": "application/json"
}

.config ["$routeProvider", "$locationProvider", "paths", ($routeProvider, $locationProvider, paths) ->
  $locationProvider.html5Mode on
  $routeProvider
    .when paths.root,
      templateUrl: "<%= asset_path('welcome/welcome.html.haml') %>"
      controller: "welcomeCtrl"
    .when paths.forbidden,
      templateUrl: "<%= asset_path('statuses/403.html.haml') %>"
      controller: "statusesCtrl"
    .when paths.not_found,
      templateUrl: "<%= asset_path('statuses/404.html.haml') %>"
      controller: "statusesCtrl"
    .when paths.auth.sign_in,
      templateUrl: "<%= asset_path('devise/sessions/new.html.haml') %>"
      controller: "authCtrl"
    .when paths.auth.sign_up,
      templateUrl: "<%= asset_path('devise/registrations/new.html.haml') %>"
      controller: "authCtrl"
    .when paths.users.index+"/:id/edit",
      templateUrl: "<%= asset_path('users/edit.html.haml') %>"
      controller: "userEditCtrl"
    .when paths.users.nick,
      template: ""
      controller: "userNickRedirectCtrl"
    .when paths.users.index+"/:id",
      templateUrl: "<%= asset_path('users/show.html.haml') %> "
      controller: "userShowCtrl"
    .when paths.users.entries.index+"/:id",
      templateUrl: "<%= asset_path('entries/show.html.haml') %> "
      controller: "entryShowCtrl"
    .when paths.admin.users,
      templateUrl: "<%= asset_path('admin/users_management.html.haml') %>"
      controller: "adminUsersCtrl"
    .when paths.admin.entries,
      templateUrl: "<%= asset_path('admin/entries_management.html.haml') %>"
      controller: "adminEntriesCtrl"
]

.config ["AuthProvider", "paths", (auth, paths) ->
  auth.resourceName 'user'
  auth.loginPath paths.api.auth.sign_in
  auth.loginMethod 'POST'
  auth.logoutPath paths.api.auth.sign_out
  auth.logoutMethod 'DELETE'
  auth.registerPath paths.api.auth.sign_up
  auth.registerMethod 'POST'
]
