/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets"
@import "bootswatch/paper/variables"
@import "bootstrap"
@import "bootswatch/paper/bootswatch"
@import "font-awesome-sprockets"
@import "font-awesome"

// Responsive tables
@-moz-document url-prefix()
  fieldset
    display: table-cell

@font-face
  font-family: 'Chunkfive'
  src: font-url('Chunkfive.otf')

@font-face
  font-family: "Cabin Sketch Bold"
  src: font-url("CabinSketch-Bold.ttf")

body
  background-image: url(background.jpg)
  background-size: 100%

.body-bar
  margin-top: 80px
  margin-bottom: 25px
.logo
  font-family: "Chunkfive"

.brand
  font-size: 1.5em

.user-btn
  // padding-top: 12% !important
  // padding-bottom: 12% !important
  margin-left: auto !important
  margin-right: auto !important
  display: block

  img
    border-radius: 50%
    width: 1.5em
    height: 1.5em

.textarea-vertical
  resize: vertical
  min-height: 4em
  max-height: 20em

.white-box
  border-radius: 5px
  background: white
  padding: 1em 1em 1em 1em

.user-image
  width: 100%
  height: 100%
  padding: auto
  border-radius: 5%
  border-style: solid
  border-width: 5px
  border-color: #3D3D3D
  margin-left: auto !important
  margin-right: auto !important
  display: block

.user-thumb
  width: 64px
  height: 64px

.entry-image
  margin: auto
  max-width: 90%
  display: block

.entry
  padding-top: 2%
  padding-bottom: 2%

.horizontal-center
  margin-left: auto
  margin-right: auto
  display: block

// autocomplete
$shadowcolor: rgba(0, 0, 0, 0.2)
.ui-autocomplete
  position: relative
  left: 0
  z-index: 10000
  float: left
  // display: none
  min-width: 160px
  // _width: 160px
  padding: 4px 0
  margin: 2px 0 0 0
  list-style: none
  background-color: white
  border-color: #ccc
  border-color: $shadowcolor
  border-style: solid
  border-width: 1px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-box-shadow: 0 5px 10px $shadowcolor
  -moz-box-shadow: 0 5px 10px $shadowcolor
  box-shadow: 0 5px 10px $shadowcolor
  -webkit-background-clip: padding-box
  -moz-background-clip: padding
  background-clip: padding-box
  *border-right-width: 2px
  *border-bottom-width: 2px

  .ui-menu-item
    display: block
    padding: 3px 15px
    clear: both
    font-weight: normal
    line-height: 18px
    color: #555555
    white-space: nowrap

    &.ui-state-hover, &.ui-state-active
      color: #ffffff
      text-decoration: none
      background-color: #0088cc
      border-radius: 0px
      -webkit-border-radius: 0px
      -moz-border-radius: 0px

.navbar-form
  margin-bottom: 0

.jumbostyle
  background-color: #4d394b
  margin-top: 3em
  border-radius: 1em

  p
    color: #fff
  h2
    color: #fff

.big-logo
  margin: auto
  padding: 0.5em 0 0.5em 0
  font-size: 5.5em
